@use "./colors";
@use "./mixins";

@import "./variables.scss";
@import url(sanitize.css);

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Mono", "Roboto Mono", "Roboto", "Ubuntu", sans-serif;
  font-weight: 500;
  color: colors.$primary-font;
  height: 100vh;
  background-color: colors.$grey-2;
}

button {
  background-color: colors.$grey-2;
  cursor: pointer;
  border: none;

  @include mixins.transition-smooth();

  &:hover {
    background: #e7e7e7;
  }
}

a {
  text-decoration: none;
  color: #1ac79f;

  @include mixins.transition-smooth();

  &:hover {
    color: #11e2b1;
    text-decoration: underline;
  }
}

a[rel~="external"]:after {
  content: " \1F855";
}
